
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	color: $textmain;
	overflow-x: hidden;
}

a{
    text-decoration: none;
    color: $textlight;
    &:hover{
        color: $textmain;
    }
}

