
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	color: $textmain;
	font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: $textlight;
    &:hover{
        color: $textmain;
    }
}
h1, h2, h3, h4 ,h5 , h6{
	font-weight: normal;
}
.carousel-item{
	min-height: 100vh;
	padding-bottom: 100px;
}
.path-white{
	fill: $background;
}
.path-gray{
	fill: $textmain;
}

