// Colors
$maingreen: #52C894;
$lightgreen: rgba($maingreen, .5);
$orange:#EDB733;
$red:#EF4870;
$blue:#56A1CB;
$textmain:#4D4A51;
$textlight: rgba($textmain,.6);
$background: #ffffff;

// Fonts
$default-font: "roboto-example", sans-serif;


	
$statetransition: all 200ms ease-in-out;
$radius: 16px;
//Font-size
//$big: 24px;
//$main: 16px;
//$small: 14px;
