// Colors
$maingreen: #52C894;
$lightgreen: rgba($maingreen, .5);
$orange:#EDB733;
$red:#EF4870;
$blue:#56A1CB;
$textmain:#4D4A51;
$textlight: rgba($textmain,.6);
$background: #edf5e1;

// Fonts
$default-font: "roboto-example", sans-serif


//Font-size
//$big: 24px;
//$main: 16px;
//$small: 14px;
