.habit-tabs-container{
	position: -webkit-sticky;
	position: sticky;
	top: 56px;
	z-index: 2;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: $textlight;
    margin-bottom: 16px;
	padding: 8px 2.5%;
	border-radius: 0 0 $radius $radius;
	
	background-color: rgba($background, .9);
    
    @media (max-width: $laptop){
        font-size: 20px;
    }
    @media (max-width: $tablet){
        font-size: 18px;
        top: 40px;
        margin-bottom: 8px;
    }
    @media (max-width: $phone){
        border-radius: 0;
        background-color: rgba($background, 1);
        font-size: 14px;
    }
}
.habit-tab{
    -webkit-tap-highlight-color: transparent;
	flex: 1;
	text-align: center;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    position: relative;
    line-height: 1;
	padding: 10px 15px;
    
	&:hover{
		color: $maingreen;
	}
	
    &:before, &:after{
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        left: 50%;
        top: calc(100% - 4px);
        width: 0%;
        background-color: $maingreen;
        transition: all 150ms ease-in-out;
    }
    &:after{
        right: 50%;
        left: auto;
    }
    
    &--active{
        color: $maingreen;
        
        &:before, &:after{        
            width: 50%;        
        }
    }
	
	@media (max-width: $phone){
        padding: 10px 10px;
    }
}