@mixin origin($position){
	content: '';
	display: block;
	position: absolute;
	height: 12px;
	width: 12px;
	background-color: $maingreen;
	transform: translateX(-50%) rotate(45deg);
	top: -6px;
	left: ($position) * 15% + 5% ;
	//transform: translateX(-50%);
	
	
	@media (max-width: $tablet){
		left: ($position) * 14.833% + 5.5% ;
	}
	
	@media (max-width: $phone){
		height: 8px;
		width: 8px;
		top: -4px;
		left: ($position) * 14.5% + 6.5% ;
	}
}

.mark-options{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 24px;
	border-radius: $radius;
	background-color: $maingreen;
	color: $background;
	position: relative;
	transition: $statetransition;
	transform: scale(0);
	opacity: .3;
	position: relative;
	@media (max-width:$phone){
		justify-content: space-around;
	}
	
	
	&__option{
		display: flex;
		align-items: center;
		cursor: pointer;
		
		@media (max-width:$tablet){
			flex-direction: column;
		}

	}
	&__option-icon{
		margin-right: 16px;
		height: 18px;
		
		@media (max-width:$tablet){
			margin: 0;
		}
		
		path{
			fill: $background;
		}
	}
	&__option-name{
		font-size: 14px;
		
		@media (max-width:$phone){
			display: none;
		}
	}
	
	&--open{
		transform: scale(1);
		opacity: 1;
	}
	&--origin-1{
		transform-origin: 5% top;
		&:before{
			@include origin(0);
		}
	}
	&--origin-2{
		transform-origin: 22% top;
		&:before{
			@include origin(1);
		}
	}
	&--origin-3{
		transform-origin: 36% top;
		&:before{
			@include origin(2);
		}
	}
	&--origin-4{
		transform-origin: 50% top;
		&:before{
			@include origin(3);
		}
	}
	&--origin-5{
		transform-origin: 65% top;
		&:before{
			@include origin(4);
		}
	}
	&--origin-6{
		transform-origin: 80% top;
		&:before{
			@include origin(5);
		}
	}
	&--origin-7{
		transform-origin: 94% top;
		&:before{
			@include origin(6);
		}
	}
	
}