.week{

	&__days{
		display: flex;
		justify-content: space-between;
	}
	
	&__mark-options{
		margin-top: 10px;
		
		@media (max-width: $phone){
			margin-top: 8px;
		}
	}
    
    &__mark-options-container{
        display: none;
        
        &--down{
            
        }        
    }
	
}