.main-container{
	width: 100%;
	max-width: 1248px;
	padding: 0 24px;
	margin: 0 auto;
	padding-top: 88px;
	
	&__placeholder{
		font-size: 24px;
		text-align: center;
		color: $textlight;
	}
	@media (max-width: $phone){
		padding: 0 8px;
	}
}

