.main-container{
	width: 100%;
	max-width: 1248px;
	padding: 0 24px;
	margin: 0 auto;
	padding-top: 88px;
	
	&__placeholder{
		font-size: 24px;
		text-align: center;
		color: $textlight;
        display: none;
	}
	@media (max-width: $phone){
		padding: 0 8px;
	}
}
.habit-preview-container{
    display: flex;
    
    &__habit{
        flex: 1;
        margin-right: 24px;
    }
    
    &__goal{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 300px;
        
        @media (max-width: $tablet){
            display: none;
        }
    }
}
